.pageCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
}

.quizContainer {
  width: 80%;
  min-height: 500px;
  background: var(--quiz-background);
  border-radius: 4px;
  padding: 30px 60px 80px 60px;
  margin-bottom: 70px;
  position: relative;
}

.quizContainer.selected button span svg path {
  fill: var(--buttonText);
}

.quizContainer button span svg path {
  fill: var(--darkGray);
}

/* quiz navigation pannel */

.quizWrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.paginationButton {
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  width: 60px;
}

.paginationButton.active {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

.quizContainer {
  margin-left: 20px;
  flex-grow: 1;
}


@media (max-width: 768px) {
  .quizContainer {
    width: 100%;
    padding: 15px 15px 80px 15px;
  }
}

.buttonWrapper {
  position: absolute;
  right: 60px;
  bottom: 30px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

@media (max-width: 576px) {
  .buttonWrapper {
    justify-content: space-between;
    width: 90%;
    right: 15px;
  }
}
