.container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: relative;
  height: 249px;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-image: url('../../assets/gridbackground.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow: hidden; 
}

.image {
  /* border: 2px solid red; */
  position: relative;
  left: 20%;
  top: 0px;
  z-index: 1;
}

.imageCorner{
  border: 2px solid red;
  position: relative;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.filterButton {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
  position: absolute;
  top: 40px;
  left:15%;
}
