.container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: relative;
  height: 249px;
  width: 90%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-image: url('../../assets/gridbackground.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow: hidden; 
}

.image {
  /* border: 2px solid red; */
  position: absolute;
  left: 22%;
  top: 70px;
  z-index: 1;
  width: 225px;
}

.imageCorner{
  /* border: 2px solid red; */
  position: absolute;
  bottom: -10px;
  right: -12px;
  z-index: 1;
  height: 8rem;
}

.filterButton {
  display: flex;
  position: absolute;
  left: 20px;
  bottom: 15px;
  padding: 6px 12px;
  gap: 10px;
  background-color: #f2f2f2;
  border: 1px solid #d8dadc;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.filterButton button{
  display: none;
}

.title {
  position: absolute;
  font-size: var(--size-xl);
  font-weight: bold;
  color: #1a1a1a;
  width: 120px;
  top: 40px;
  left:8%;
  /* border: 2px solid red; */
}

/* xs */
@media (min-width: 475px) {

  .container{
    width: 80%;
  }

  .title{
    font-size: var(--size-xl);
  }
  .image{
    width: 300px;
    left: 20%;
    top: 60px;
  }
}

/* sm */
@media (min-width: 640px) {
  
  .title{
    font-size: var(--size-3xl);
    width: 200px;
  }
  .image{
    width: 420px;
    left: 20%;
    top: 60px;
  }

  .imageCorner{
    height: 10rem;
    bottom: -13px;
    right: -15px;
  }

  .filterButton{
    left: 30px;
    bottom: 20px;
  }

  .filterButton button{
    display: block;
  }
}

/* md */
@media (min-width: 768px) {
  
  .title{
    font-size: var(--size-3xl);
    width: 200px;
  }
  .image{
    width: 420px;
    left: 20%;
    top: 60px;
  }

  .imageCorner{
    height: 10rem;
  }
}

/* lg */
@media (min-width: 1024px) {
   
  .title{
    font-size: var(--size-4xl);
    width: 200px;
  }
  .image{
    width: 500px;
    left: 20%;
    top: 60px;
  }

  .imageCorner{
    height: 11rem;
    right: -18px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .title{
    font-size: var(--size-5xl);
    width: 300px;
  }
  .image{
    width: 500px;
    left: 20%;
    top: 50px;
  }

  .imageCorner{
    height: 11rem;
    right: -18px;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
