.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Darker background for better visibility */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .popupContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 1000px;
    text-align: left;
    height: 500px;
    /* max-height: 1200px; */
    overflow-y: auto; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .popupClose {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
    /* margin-right: 15px; */
    /* margin-top: 10px; */
    background-color: #7c4de1;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    /* cursor: pointer; */
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .popupClose:hover {
    background-color: #653bbf;
  }

  .popupHeading {
    /* border: 2px solid green; */
    font-size: 20px;
    width: 100%;
    height: 40px;
    padding: 2px;
    font-weight: 600;
    color: #653bbf;
  }

  .popupQuestion {
    /* border: 2px solid blue; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .popupOptions {
    /* border: 2px solid blue; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .popupExplain {
    /* border: 2px solid blue; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .popFilters p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }