@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

.tableContainer {
  margin: 20px auto;
  /* padding: 10px; */
  width: 80%;
  border-radius: 6px;
  border: 2px solid #E5E7EB;
  background-color: #ffffff;
  transition: max-height 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  font-family: 'Titillium Web';
}

.tableContainerOpen {
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* border: 2px solid red; */
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  padding-right: 8px;
}

.header:hover {
  background-color: #6f42c1;
  /* color: white;  */
  -webkit-text-fill-color: white;
}

.headerOpen {
  position: relative;
  width: 100%;
  background-color: #e7dcfa;
  margin: 0 auto 10px auto;
  right: 0;
  
}

.headerOpen:hover {
  background-color: #e7dcfa;
  -webkit-text-fill-color: black;
}

.header h2 {
  margin: 0;
  font-size: var(--size-xs);
  font-weight: 1000;
  color: #333;
}

.progress {
  display: flex;
  align-items: center;
  gap: 0px;
  /* border: 2px solid #d4d4d8; */
}

.progress button {
  font-size: var(--size-xs);
}

.filterButtonWrapper {
  position: relative;
  display: inline-block;
}

.filterButtonWrapper button {
  width: auto;
}

.dropdownMenu {
  position: absolute;
  max-height: 200px; /* Limit the height (4 items of approx. 50px each) */
  overflow-y: auto;  /* Enable vertical scrolling if more than 4 items */
  overflow-x: hidden;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  width: 100px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.dropdownMenu::-webkit-scrollbar {
  width: 8px;
}

.dropdownMenu::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.dropdownMenu::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px solid #eee; 
}

.dropdownItem:hover {
  background-color: #e7dcfa;
}

.dropdownItem:last-child {
  border-bottom: none; 
}

.questionsSolved{
  font-size: var(--size-xs);
  margin-right: 5px;
  width: auto;
  height: 26px;
  top: 0.2px;
  /* padding: 4.8px 3px 2px 12px; */
  padding: auto 8px;
  gap: 0px;
  border-radius: 8px;
  border: 1px solid #d4d4d8;
  background-color: #fafafa;
  opacity: 0px;
}

.header:hover .questionsSolved {
  background-color: #7c4de1;
  color: white;
}

.headerOpen:hover .questionsSolved {
  background-color: #CA9DD8;
  color: black;
}

.progressOpen .questionsSolved {
  background-color: #CA9DD8;
}

.toggleButton {
  background-color: transparent;
  font-size: var(--size-sm);
  cursor: pointer;
  width: 28px;
  height: 28px;
  gap: 0px;
  border-radius: 8px;
  border: 1px solid #d4d4d8;
}

.toggleButton img {
  height: 100%;
  width: 100%;
}




.filterButton {
  background-color: #fafafa;
  border: 1px solid #d4d4d8;
  width: auto;
  font-size: 1.05rem;
  cursor: pointer;
   padding: 4px 8px; /*This provides space around the content */
  margin-right: 5px;
  border-radius: 8px;
  display: inline-flex; /* Use inline-flex for dynamic width based on content */
  align-items: center;
  justify-content: center;
  gap: 2px;
  min-width: auto; 
  opacity: 1; /* Ensure button is visible */
}



.filter2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.register {
  border: 1px solid rgb(147, 147, 147);
  padding: 5px 20px;
  font-size: 20px;
  background-color: rgb(246, 244, 244);
  border-radius: 20px;
  margin-left: -300px;
}

.register:hover {
  color: black;
}

.playButton {
  background-color: transparent;
  border: none;
  font-size: 1.05rem;
  cursor: pointer;
  width: 50px;
  height: 26px;
  gap: 0px;
  /* margin-right: 5px; */
  /* margin-top: 10px; */
  /* margin-left: 40px; */
  margin: 10px 20px;
  margin-bottom: 0px;
  border-radius: 8px;
  /* border: 1px solid #9266f3; */
  background-color: #CA9DD8;
  opacity: 0px;
  /* border: 2px solid red; */
}

.wrapper {
  display: flex;
}

/* Custom checkbox styling */
.customCheckbox {
  display: inline-block;
  width: 20px; /* Customize size */
  height: 20px; /* Customize size */
  border: 2px solid #ccc; /* Default border color */
  border-radius: 4px; /* Rounded corners */
  position: relative;
  cursor: pointer;
}

/* Change background color when checked */
input[type="checkbox"]:checked + .customCheckbox {
  background-color: green; /* Change to your desired color */
  border-color: green; /* Change border color if needed */
}

/* Add a checkmark */
.customCheckbox::after {
  content: '';
  position: absolute;
  top: 2px; /* Adjust for positioning */
  left: 6px; /* Adjust for positioning */
  width: 6px; /* Size of checkmark */
  height: 12px; /* Size of checkmark */
  border: solid white; /* Checkmark color */
  border-width: 0 2px 2px 0; /* Adjust thickness */
  transform: rotate(45deg);
  opacity: 0; /* Initially hidden */
}

/* Show checkmark when checked */
input[type="checkbox"]:checked + .customCheckbox::after {
  opacity: 1;
}

.setDropdownMenu {
  position: absolute;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ddd;
  z-index: 10;
  padding: 2px 0;
  margin-top: 6px;
  margin-left: 40px;
  width: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.setDropdownItem {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #dedcdc;
}

.setDropdownItem:hover {
  background-color: #f1f1f1;
}

/* LikeButton.css */

.buttonEffect:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.buttonEffect:active {
  transform: scale(0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s, box-shadow 0.1s;
}

.header:hover .playButton {
  background-color: #7c4de1;
  color: white;
}

.header:hover .filterButton {
  background-color: #7c4de1;
  color: white;
}

.header:hover .filterButton img {
  filter: brightness(0) invert(1);
}

/* drop down css */

.progressOpen .filterButton {
  background-color: #CA9DD8;
}

.progressOpen .playButton {
  background-color: #CA9DD8;
  /* text-decoration: white; */
  color: black;
}

.headerOpen:hover .filterButton {
  background-color: #CA9DD8;
}

.headerOpen:hover .filterButton img {
  filter: brightness(1);
}

.headerOpen:hover .playButton {
  background-color: #CA9DD8;
  color: black;
}

.header:hover .toggleButton {
  background-color: #7c4de1;
  color: white;
}

.headerOpen:hover .toggleButton {
  background-color: #fafafa;
  color: black;
}

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border: 2px solid #ddd;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden;
  table-layout: fixed;
  font-size: var(--size-base);
}

/* .remove{
  display: none;
} */

.soon {
  border: 2px solid red;
  margin-left: auto;
  padding-left: 500px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.colStatus,
.colArticle,
.colYouTube,
.colPractice,
.colNote,
.colRevision {
  width: 8%;
}

.colDifficulty {
  width: 12.5%;
}

.colProblem {
  width: 37%;
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
  border: 1px solid #ddd;
}

.table th {
  font-size: 12px;
  font-weight: 600;
  color: #8C8C8C;
}


.hardBadge {
  background-color: #fdb8a5;
  color: #C62800;
  padding: 5px 15px;
  border-radius: 2rem;
  border: 1.5px solid white;
  width: 65px;
  margin-right: auto;
  margin-left: auto;
}

.hardBadge:hover {
  background-color: hsl(15, 83%, 88%);
  border: 1.5px solid #e23e14;
  -webkit-text-fill-color: #e23e14;
  margin: auto;
}

.mediumBadge {
  background-color: #FEF08A;
  color: #CD910C;
  padding: 5px 15px;
  border-radius: 2rem;
  border: 1.5px solid white;
  width: 85px;
  margin-right: auto;
  margin-left: auto;
}

.mediumBadge:hover {
  background-color: hsl(53, 97%, 85%);
  border: 1.5px solid #e7a41f;
  -webkit-text-fill-color: #e7a41f;
}

.easyBadge {
  background-color: #A5D4FF;
  color: #0085FF;
  padding: 5px 15px;
  border-radius: 2rem;
  border: 1.5px solid white;
  width: 65px;
  margin-right: auto;
  margin-left: auto;
}

.easyBadge:hover {
  background-color: hsl(205, 93%, 89%);
  border: 1.5px solid #2f9ce9;
  -webkit-text-fill-color: #2f9ce9;
}

.noteButton {
  /* background-color: #e0e0e0; */
  border: none;
  width: 60px;
  height: 40px;
  font-size: 1.25rem;
  cursor: pointer;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid blue; */
}

.noteButton img {
  /* border: 2px solid yellowgreen; */
  /* margin-left: 7px; */
  height: 40px;
}

.icons {
  padding: auto;
  margin: auto;
  text-align: center;
}



.checkbox img {
  height: 20px;
  width: 20px;
  margin: auto;
}

.problemName {
  text-align: left;
  column-span: "4";
}

.star {
  background-image: url('../../assets/Revision.svg');
  background-size: cover;
  width: 20px;
  height: 20px;
  transition: background-image 0.3s ease;
}

.star:hover {
  background-image: url('../../assets/RevisionShine.svg'); 

}


.pagination {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  gap: 1rem;
  /* border: 2px solid blue; */
  margin: 0.5rem 0 0rem 0;
  margin-left: 53%;
  padding: 0 0.5rem;
  font-size: 18px;
  font-weight: 600;
}

.pagination button {
  background-color: #fafafa;
  border: 1px solid #d4d4d8;
  width: auto;
  height: 40px;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  /* border: 2px solid red; */
}

.testSets {
  width: 100px;
  text-align: center;
  font-size: 18px;
  /* border: 2px solid red; */
}

.downArrow {
  width: 40px;
  height: 40px;
  margin-top: 0px;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* font-weight: bold; */
  /* border: 2px solid red; */
}

.rightArrow {
  width: 28px;
  height: 18px;
  margin-top: 1px;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* font-weight: bold; */
  /* border: 2px solid red; */
}

/* xs */
@media (min-width: 425px) {
  .header h2 {
    font-size: var(--size-sm);
  }

  .progress button {
    font-size: var(--size-sm);
  }
}

/* sm */
@media (min-width: 640px) {
  .header h2 {
    font-size: var(--size-base);
  }

  .progress button {
    font-size: var(--size-base);
  }

  .questionsSolved{
    font-size: var(--size-base);
    height: 30px;
    /* width: 35px; */
  }

  .playButton {
    height: 30px;
    width: 50px;
  }

  .filterButton {
    height: 30px;
    width: 75px;
  }

  .toggleButton {
    height: 30px;
    width: 30px;
    font-size: var(--size-xl);
  }
}

/* md */
@media (min-width: 768px) {
  .progress {
    gap: 0.5rem;
  }

  .questionsSolved {
    margin-right: 12px;
  }

  .playButton {
    margin-right: 12px;
  }

  .filterButton {
    margin-right: 12px;
  }

  .colStatus,
  .colArticle,
  .colYouTube,
  .colPractice,
  .colNote,
  .colRevision {
    width: 8%;
  }

  .colDifficulty {
    width: 12.5%;
  }

  .colProblem {
    width: 37%;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header h2 {
    font-size: var(--size-lg);
  }

  .progress button {
    font-size: var(--size-lg);
  }

  .questionsSolved{
    font-size: var(--size-lg);
    height: 40px;
    /* width: 50px; */
    padding: 4px 8px;
  }

  /* .playButton {
    height: 40px;
    width: 180px;
  } */

  .topic {
    width: 140px;
  }

  .filterButton {
    height: 40px;
    /* width: 80px; */
  }
  
  .filter2 {
    width: 110px;
  }

  .toggleButton {
    height: 40px;
    width: 40px;
  }

  .dropdownWrapper {
    margin: 0px -5px;
  }

  .playButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddb2ec; 
    color: #000; /* Text color */
    /* border: 2px solid #ff4a4a;  */
    width: 180px;
    height: 40px;
    gap: 4px;
    padding: 2px 0px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .playButton:hover {
    /* background-color: #d4c0ff; */
    border-color: #ff2a2a; /* Darker red border on hover */
  }
  
  .buttonContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between text and arrow */
  }
  
  .arrowIcon {
    width: 16px; /* Adjust icon size */
    height: 16px;
    transition: transform 0.3s ease;
  }
  
  .playButton:hover .arrowIcon {
    transform: scale(1.1); /* Slightly enlarge icon on hover */
  }  

  .lower1 {
    width: 140px;
    margin-left: 20px;
  }

  .lower2 {
    width: 150px;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

@media (min-width: 1925px) {
  .tableContainer {
    max-width: 1540px;
  }
}