.popup {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #9c6cf2; /* Lighter purple background for a more pleasant look */
  color: white;
  padding: 20px 40px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  font-size: 18px;
  font-weight: bold;
  z-index: 1000;
  opacity: 0;
  animation: slideDown 0.5s forwards, fadeOut 0.5s forwards;
  animation-delay: 0s, 3s; /* Adjust timing as needed */
}

@keyframes slideDown {
  0% {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loginLink {
  color: #fff; /* White text to match the popup */
  text-decoration: underline; /* Underline to indicate it's a link */
  cursor: pointer;
}

.loginLink:hover {
  color: #f3f3f3; /* Slight color change on hover */
}
