@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

.tableContainer {
  margin: 20px auto;
  padding: 0px;
  width: 80%;
  border-radius: 6px;
  border: 2px solid #E5E7EB;
  background-color: #ffffff;
  transition: max-height 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffffff; 
  transition: background-color 0.3s ease;
  padding-right: 8px;
}

.header:hover {
  background-color: #6f42c1; 
  /* color: white;  */
  -webkit-text-fill-color: white;
}

.headerOpen {
  background-color: #e7dcfa;
  margin-top: 8px;
  margin-bottom: 8px;
}

.headerOpen:hover {
  background-color: #e7dcfa;
  -webkit-text-fill-color: black;
}


.header h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 1000;
  color: #333;
}

.progress {
  display: flex;
  align-items: center;
  gap: 5px;
}

.progress span {
  font-size: 1rem;
  margin-right: 10px;
  width: 34.6px;
  height: 31.6px;
  top: 0.2px;
  padding: 4.8px 2px 2px 5px;
  gap: 0px;
  border-radius: 8px;
  border: 1px solid #d4d4d8;
  background-color: #fafafa;
  opacity: 0px;
}

.header:hover .progress span {
  background-color: #7c4de1;
  color: white;
}

.headerOpen:hover .progress span{
  background-color: #CA9DD8;
  color: black;
}

.progressOpen span {
  background-color: #CA9DD8;
}

.toggleButton {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  width: 32px;
  height: 32px;
  gap: 0px;
  border-radius: 8px;
  border: 1px solid #d4d4d8;
  background-color: #fafafa;
  opacity: 0px;
}

.filterButton {
  background-color: transparent;
  border: none;
  font-size: 1.05rem;
  cursor: pointer;
  width: 52px;
  height: 32px;
  gap: 0px;
  margin-right: 12px;
  border-radius: 8px;
  border: 1px solid #d4d4d8;
  background-color: #fafafa;
  opacity: 0px;
}

.playButton {
  background-color: transparent;
  border: none;
  font-size: 1.05rem;
  cursor: pointer;
  width: 44px;
  height: 32px;
  gap: 0px;
  margin-right: 12px;
  border-radius: 8px;
  border: 1px solid #d4d4d8;
  background-color: #fafafa;
  opacity: 0px;
}

.header:hover .playButton {
  background-color: #7c4de1;
  color: white;
}

.header:hover .filterButton {
  background-color: #7c4de1;
  color: white;
}

.progressOpen .filterButton {
  background-color: #CA9DD8;
}

.progressOpen .playButton {
  background-color: #CA9DD8;
}

.headerOpen:hover .filterButton {
  background-color: #CA9DD8;
}

.headerOpen:hover .playButton {
  background-color: #CA9DD8;
}

.header:hover .toggleButton {
  background-color: #7c4de1;
  color: white;
}

.headerOpen:hover .toggleButton {
  background-color: #fafafa;
  color: black;
}

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: separate; 
  border: 2px solid #ddd;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden; 
  table-layout: fixed;
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
  border: 1px solid #ddd;
  
}

.table th {
  font-size: 12px;
  font-weight: 600;
  color: #8C8C8C;
}

.hardBadge {
  background-color: #fdb8a5;
  color: #C62800;
  padding: 5px 15px;
  border-radius: 2rem;
}

.hardBadge:hover {
  background-color: hsl(15, 83%, 88%);
  border: 1.5px solid #e23e14;
  -webkit-text-fill-color: #e23e14;
}

.mediumBadge {
  background-color: #FEF08A;
  color: #CD910C;
  padding: 5px 15px;
  border-radius: 2rem;
}

.mediumBadge:hover {
  background-color: hsl(53, 97%, 85%);
  border: 1.5px solid #e7a41f;
  -webkit-text-fill-color: #e7a41f;
}

.easyBadge {
  background-color: #A5D4FF;
  color: #0085FF;
  padding: 5px 15px;
  border-radius: 2rem;
}

.easyBadge:hover {
  background-color: hsl(205, 93%, 89%);
  border: 1.5px solid #2f9ce9;
  -webkit-text-fill-color: #2f9ce9;
}

.noteButton {
  background-color: #e0e0e0;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
}

.icons {
  padding: auto;
  margin: auto;
  text-align: center;
}

.problemName {
  text-align: left;
}
