.footer {
  background-color: #4B0082;
  color: white;
  padding: 40px 0;
  border-radius: 50px 50px 0px 0px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 90px;
}

.footerLogo {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: 220px;
}

.footerLogo img {
  width: 100px;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 200px;
  gap: 60px;
}

.footerLinks h4 {
  margin-bottom: 15px;
  font-style: bold;
  font-weight: 500px;
  font-size: 18px;
}

.footerLinks ul {
  list-style: none;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  font-weight: 2px;
}

.footerLinks ul li {
  margin-bottom: 10px;
}

.footerLinks ul li a {
  color: white;
  text-decoration: none;
}

.socialIcons img {
  margin-right: 10px;
  display: inline;
  padding-bottom: 20px;
}

.contactSec ul {
  list-style: none;
  padding: 0;
  margin-top: -5px;
}

.inlineItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inlineItem img {
  margin-right: 8px;
}

.footerBottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid white;
  padding-top: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
