.footer {
  background-color: #4B0082;
  color: white;
  padding: 40px 0;
  border-radius: 50px 50px 0px 0px;
  margin-top: 15rem;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 30px;
  flex-direction: row;
}

.footerLogo {
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: 90px;
}

.footerLogo img {
  width: 60px;
}

.footerLogo p {
  font-size: var(--size-sm);
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 20px;
}

.footerLinks h4 {
  margin-bottom: 15px;
  font-style: bold;
  font-weight: 500px;
  font-size: 17px;
}

.footerLinks ul {
  list-style: none;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  font-weight: 2px;
}

.footerLinks ul li {
  margin-bottom: 10px;
}

.footerLinks ul li a {
  color: white;
  text-decoration: none;
}

.socialIcons img {
  margin-right: 10px;
  display: inline;
  padding-bottom: 20px;
  width: 30px;
}

.contactSec ul {
  list-style: none;
  padding: 0;
  margin-top: -5px;
}

.inlineItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inlineItem img {
  margin-right: 8px;
}

.footerBottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid white;
  padding-top: 10px;
  font-size: var(--size-sm);
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/* xs */
@media (min-width: 425px) {
  .footerLinks {
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    margin-left: 5px;
  }
}

/* sm */
@media (min-width: 640px) {
  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footerLogo {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    font-size: var(--size-sm);
  }

  .footerLinks {
    gap: 80px;
    font-size: var(--size-sm);
  }
}

/* md */
@media (min-width: 768px) {
  .footerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footerLogo {
    margin-left: 5px;
    margin-right: 30px;
    margin-bottom: 140px;
  }

  .footerLogo img {
    width: 100px;
  }

  .footerLogo p {
    font-size: var(--size-md);
  }

  .footerLinks {
    gap: 30px;
    font-size: var(--size-md);
  }
}

/* lg */
@media (min-width: 1024px) {
  .footerContainer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
  }

  .footerLogo {
    margin-left: 50px;
    margin-right: 25px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .footerLogo img {
    width: 150px;
  }

  .footerLogo p {
    font-size: var(--size-lg);
  }

  .footerLinks {
    height: 200px;
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    font-size: var(--size-2xl);
    gap: 80px;
  }

  .footerBottom {
    font-size: var(--size-lg);
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */