.container {
    /* border: 2px solid red; */
    width: 20rem;
    height: 7.5rem;
    border-radius: 2px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 1rem auto 0px auto; /* Center container with auto margins */
    padding: 0; /* Ensure no padding */
}
