/* Login.module.css */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

/* GoogleSignInButton.module.css */
.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 10px 16px;
  border: 1px solid #dcdcdc;
  border-radius: 24px;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #5f6368;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.googleButton:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.googleLogo {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}



@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
