.app {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0px auto;
  margin-top: 100px;
  /* height: 100vh; */
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
}

.headerLeft {
  display: flex;
  gap: 10px;
}

.headerButton {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 3px;
}

.all {
  width: 68px;
  height: 45px;
  border-radius: 7px;
  background-color: #eae1fc;
}

.progress {
  width: 130px;
  height: 45px;
  border-radius: 7px;
  background-color: #916edf;
  color: white;
}

.complete {
  width: 118px;
  height: 45px;
  border-radius: 7px;    
  background-color: #eae1fc;
  margin-right: 20px;
}

.headerRight {
  display: flex;
  flex-direction: row;
  width: 700px;
  align-items: center;
  gap: 10px;
}

.searchContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px; 
  padding: 5px; 
  margin-top: 0px;
  width: 100%; 
  gap: 10px;
}

.searchInput {
  flex-grow: 1;
  padding: 10px 10px;
  width: 80%;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  outline: none;
  box-shadow: inset 4px 4px 2px rgb(193, 189, 189); 
  font-size: 16px;
  margin-right: 10px; 
  text-align: center;
}

/* .filterButton {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  background-color: #5e35b1; 
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  width: 140px;
  gap: 8px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.filterButton:hover {
  background-color: #7e57c2; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.arrowIcon {
  font-size: 18px;
  color: white;
  transition: transform 0.3s ease;
}

.filterButton:hover .arrowIcon {
  transform: rotate(180deg); 
}

.filterDropdown {
  position: absolute;
  top: 50px; 
  right: 0;
  background-color: #fff; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 12px; 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); 
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.sortOption {
  background-color: #f9f9f9; 
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e0e0e0; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer; 
  transition: background-color 0.2s ease; 
}

.sortOption:hover {
  background-color: #e0e0e0; 
}

.sortOptionTitle {
  font-weight: bold;
  color: #333; 
  margin-bottom: 4px; 
}

.filterSelect {
  display: block;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  color: #333;
  background-color: #f1f1f1; 
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filterSelect:hover {
  background-color: #e0e0e0; 
} */

.filterDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  background-color: #fcfbfb;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  padding: 10px;
  min-width: 180px;
}

.filterOption {
  cursor: pointer;
  padding: 10px 10px;
  margin-bottom: 8px;
  font-size: 17.5px;
  font-weight: 500;
  color: #333;
  background-color: #d9c8f9;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.filterOption img {
  width: 20px;
  height: 25px;
  margin-left: 5px;
  /* border: 2px solid red; */
}

.filterOption:hover {
  background-color: #d1bcf9;
  transform: scale(1.03);
}

.rightArrow {
  font-size: 14px;
  color: #333;
}

.activeFilters {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 20;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  padding: 12px;
  min-width: 200px;
}

.filterOptionsRight {
  position: absolute;
  top: 0;
  left: 200px;
  background-color: #fcfbfb;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filterOptionsRight div {
  cursor: pointer;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 500;
  background-color: #d9c8f9;
  color: #495057;
  border-radius: 6px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.filterOptionsRight div:hover {
  background-color: #d9c8f9;
  transform: scale(1.03);
}

/* .positionRight {
  top: 600px;
  left: 90%;
} */

.filterButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #916edf;
  color: white;
  padding: 10px 14px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.filterButton:hover {
  background-color: #916edf;
  transform: scale(1.02);
}

.arrowIcon {
  margin: -5px;
  margin-right: -10px;
  font-size: 12px;
  transition: transform 0.2s ease;
  width: 40px;
  height: 40px;
}

.activeFilterTag {
  display: inline-block;
  background-color: #f8d7da;
  color: #721c24;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 13px;
  margin-right: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.activeFilterTag:hover {
  background-color: #f5c6cb;
  transform: scale(1.05);
}



.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px;
  padding: 20px;
  max-height: 1520px;
  /* overflow-y: scroll; */
  width: 100%;
  border-radius: 15px;
  background-color: #f7f4fa;
  padding-bottom: 80px;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 350px;
  margin-left: 23px;
  margin-top: 15px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cardStatus {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 25px;
  margin-top: -5px;
  margin-right: -10px;
  border-radius: 4px;
  background: #C2F8CB;
  color: green;
  
}


.cardStatusIcon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.cardTitle {
  display: flex;
  gap: 5px;
  align-items: center;
}

.cardIcon {
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  color: white;
  width: 45px;
  height: 40px;
  margin-left: 0px;
  margin-top: -5px;
  background: #FF9800;
}

.cardTitle h2 {
  width: 101px;
  height: 36px;
  margin-top: -10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 35.62px;
  text-align: left;    
}

.cardDate {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  width: 220px;
  height: 36px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 600;
  line-height: 35.62px;
  text-align: left;
}

.cardBody {
  margin-bottom: 10px;
  margin-top: 10px;
}

.cardItem {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-weight: 400px;
  font-size: 15px;
}

.cardFooter {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.cardButton {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 125px;
  height: 40px;
  border-radius: 4px;
}

.preview {
  background-color: #f5f3f3;
  color: #54b2fe;
  font-weight: 500;
}

.download {
  background-color: #d1e8fb;
  color: white;
  font-weight: 500;
}

.done {
  color: green;
}

.inProgress {
  color: #dc9704;
}

.man {
  position: relative;
  width: 500px;
  height: 602px;
  margin-top: -365px;
  margin-left: 670px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(234, 233, 233, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden; 
  box-shadow: #e0e0e0;
}

.modalContent {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 800px; 
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3); 
}

.modalHeader {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 80px;
}

.modalIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #FF9800;
}

.modalPara {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.modalDate {
  font-size: 15px;
  font-weight: 500;
  color: #555;
}

.modalBody {
  margin-top: 15px;
}

.modalQuestion {
  margin-bottom: 25px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none; 
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.questionTop {
  display: flex;
  justify-content: space-between;
  background-color: #ebe5fc; 
  padding: 10px 15px;
  border-radius: 8px;
}

.questionNumber {
  font-size: 18px;
  font-weight: 450;
  color: black; 
}

.difficulty {
  background-color: #ffffff; 
  color: rgb(182, 7, 246);
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 500;
}

.optionList {
  list-style-type: none;
  padding-left: 0;
  margin-top: 15px;
}

.optionList li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 6px;
  border: none; 
  position: relative; 
}

.correctAnswer {
  background-color: #e0ffe0 !important; 
}

.wrongAnswer {
  background-color: #ffe0e0 !important;
}

.modalOverlay .modalContent .modalQuestion .optionList li.correctAnswer::before {
  content: "✔";
  color: green !important; 
  background-color: transparent !important;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 10;
}

.wrongAnswer::before {
  content: "✘";
  color: red !important; 
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.explanation {
  margin-top: 10px;
  font-size: 14px;
  background-color: #eeedef; /* Light blue background for clarity */
  padding: 12px;
  /* border-left: 4px solid #2196f3;  */
  border-radius: 6px;
  color: #3a2c50; /* A darker shade for text */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  transition: background-color 0.3s ease; /* Smooth background transition */
}

.explanation:hover {
  background-color: #ede2fa; /* Slightly lighter on hover */
}

.closeButton {
  position: absolute; /* Make the button positioned relative to the modal */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px; /* Position it near the top of the modal */
  right: 40px; /* Align it close to the right of the modal */
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: #a760fd;
  border-radius: 50%;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10; /* Ensure it appears above other content in the modal */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.closeButton:hover {
  background-color: #8836d9;
  transform: scale(1.1);
}


.filterContainer {
  display: flex;
  gap: 10px;
  /* border: 2px solid red; */
}

.filterSelect {
  padding: 8px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  /* border: 2px solid green; */
}

.value {
  border: 2px solid green; 
}

/* pagination style */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 2px solid blue; */
  margin: 1rem 0;
  /* margin-left: 53%; */
  padding: 0.5rem;
  font-size: 18px;
  font-weight: 600;
  background-color: #e7dcfa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination button {
  background: linear-gradient(145deg, #e0e0e5, #ffffff);
  border: 1px solid #d4d4d8;
  width: auto;
  height: 40px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  /* border: 2px solid red; */
}

.pagination button:hover {
  background: linear-gradient(145deg, #d4d4d8, #fafafa);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pagination button:disabled {
  background: #e0e0e5;
  cursor: not-allowed;
  opacity: 0.6;
}

.pagination p {
  margin: 0;
  padding: 0 10px;
  font-size: 18px;
  color: #444;
  background-color: #fff;
  border-radius: 8px;
  padding: 4px 12px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.downArrow {
  width: 40px;
  height: 40px;
  margin-top: 0px;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* font-weight: bold; */
  /* border: 2px solid red; */
}

.rightArrow {
  width: 28px;
  height: 18px;
  margin-top: 1px;
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* font-weight: bold; */
  /* border: 2px solid red; */
}

.doubleArrow {
  padding: 4px 8px;
}

.doubleArrow img {
  /* border: 2px solid red; */
  width: 22px;
  height: 18px;
  margin: 0px 0px;
}