.container {
  width: 80%;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.pagination {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 0;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
}

.pageButton {
  background: none;
  border: none;
  color: #717171;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px; 
}

.pageButton:hover {
  color: #0056b3;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0 6px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 2fr 2fr 1fr;
  color: #64748B;
  padding: 10px;
  border-bottom: 2px solid #ddd;
  text-align: left;
}

.body {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 2fr 2fr 1fr;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
  align-items: center;
}

.highlightedRow {
  background-color: #f0f9ff;
  font-weight: bold;
}

.row:hover {
  background-color: #f1f1f1;
}

.rank, .username, .institute, .questionsSolved, .questionsPerDay, .joinDate, .profiles {
  display: flex;
  align-items: center;
}

.profiles {
  justify-content: center;
}

.profileIcon {
  width: 20px;
  height: 20px;
  background-color: #000; /* Placeholder for profile icons */
  border-radius: 50%;
  margin: 0 2px;
}

.pageNumber {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 10px 0;
  font-weight: 600;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.pageNumber span {
  /* border: 1px solid black; */
  padding: 5px 10px;
  margin-right: 8px; 
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: gray;
}

.changeButton {
  background: none;
  border: 1px solid #e2e8f0;
  color: #717171;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 8px;
  transition: color 0.3s ease;
  margin-left: 5px; 
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
}

.changeButton:hover {
  color: gray;
  border-color: gray;
}
